---
import '../styles/global.css';

type Props = {
    title?: string;     // to not make something required add "?" at the end
}

const { title = 'Astro Rest Countries API' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <main>
            <slot />
        </main>
		<!-- <input type="search" name="" id="search" placeholder="Enter Search Term..">
		
		<ul id="countries">
			{data.map(d =>(
				<li>
					<a href={`/country/${d.ccn3}`}>{d.name.common}</a>	
				</li>
			))}
		onst

	</body>
</html>
